<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.CarfileMapper" >
<resultMap type="com.example.pojo.Carfile" id="CarfileMap">
  	<id column="Carfile_id" property="carfileId"/>
 	<result column="Carfile_typeid" property="carfileTypeid"/>
 	<result column="Engine_typeid" property="engineTypeid"/>
 	<result column="Carfile_name" property="CarfileName"/>
 	<result column="Carfile_price" property="carfileprice"/>
 	<result column="Carfile_state" property="carfileState"/>
 	<collection property="engine" javaType="java.util.ArrayList" ofType="Engine">
	    <id column="Engine_id" property="engineId" jdbcType="INTEGER" />
	    <result column="Engine_number" property="engineNumber" jdbcType="VARCHAR" />
	    <result column="Engine_name" property="engineName" jdbcType="VARCHAR" />
	    <result column="Engine_state" property="engineState" jdbcType="INTEGER" />
 	</collection>
 	<collection property="carfile_type" javaType="java.util.ArrayList" ofType="com.example.pojo.Carfile_Type">
 		 <id column="Carfile_typeid" property="carfileTypeid" jdbcType="INTEGER" />
	    <result column="Carfile_typenumber" property="carfileTypenumber" jdbcType="VARCHAR" />
	    <result column="Carfile_typename" property="carfileTypename" jdbcType="VARCHAR" />
	    <result column="Carfile_typeABC" property="carfileTypeabc" jdbcType="CHAR" />
	    <result column="Carfile_typestate" property="carfileTypestate" jdbcType="INTEGER" />
 	</collection>
  </resultMap>
	
  
  <select id="queryByengineAndType" resultMap="CarfileMap">
  	SELECT * FROM carfile LEFT JOIN `Engine` ON(`carfile`.`Carfile_id`=`Engine`.`Engine_id`) 
	LEFT JOIN carfile_type ON(carfile_type.`Carfile_typeid`=`carfile`.`Carfile_typeid`)
	where 1=1
	<if test="abc!=null and abc!=''">
		and Carfile_name like CONCAT(#{abc},'%','%')
	</if>
		order by Carfile_id asc
  </select>
  <select id="queryByid" resultType="com.example.pojo.Carfile">
  	SELECT * FROM Carfile WHERE Carfile_id=#{carfileId}
  </select>
  <insert id="addCarfile">
  	INSERT INTO `trucksystem`.`carfile` (
  `Carfile_id`,
  `Carfile_typeid`,
  `Engine_typeid`,
  `Carfile_name`,
  `Carfile_price`,
  `Carfile_state`
) 
VALUES
  (
    #{carfileId},
    #{carfileTypeid},
    #{engineId},
    #{CarfileName},
    #{carfileprice},
   0
  ) 
  	
  </insert>
  <update id="updateCarfile">
  	UPDATE 
  `trucksystem`.`carfile` 
SET
  `Carfile_typeid` = #{carfileTypeid},
  `Engine_typeid` = #{engineId},
  `Carfile_name` =  #{CarfileName},
  `Carfile_price` = #{carfileprice},
WHERE `Carfile_id` = #{carfileId} 
  	
  </update>
  <delete id="deteleCarfile">
  	delete from carfile where  Carfile_id = #{carfileId}
  </delete>
<select id="querycarfileType" resultType="com.example.pojo.Carfile_Type">
	SELECT * FROM carfile_type
</select>
<select id="queryengine" resultType="Engine">
SELECT * FROM `engine`
</select>
</mapper>