<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.EngineMapper" >
  <resultMap id="BaseResultMap" type="com.example.pojo.Engine" >
    <id column="Engine_id" property="engineId" jdbcType="INTEGER" />
    <result column="Engine_number" property="engineNumber" jdbcType="VARCHAR" />
    <result column="Engine_name" property="engineName" jdbcType="VARCHAR" />
    <result column="Engine_state" property="engineState" jdbcType="INTEGER" />
  </resultMap>
  <select id="queryAll" resultType="Engine">
  	select * from engine
  </select>
  
  <select id="queryById" resultType="Engine">
  select * from engine where Engine_id=#{Engine.engineId}
  </select>
  
  <insert id="addAll">
  	insert into engine(Engine_number,Engine_name,Engine_state)
  	values(#{Engine.engineNumber},#{Engine.engineName},0)
  </insert>
  
  <update id="updateAll">
  	update engine set Engine_number=#{Engine.engineNumber},Engine_name=#{Engine.engineName},Engine_state=#{Engine.engineState}
  	where Engine_id=#{Engine.engineId}
  </update>
  
  <delete id="deleteAllById">
  delete from engine where Engine_id=#{Engine.engineId}
  </delete>
</mapper>