<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.RoleMapper" >
			
	<resultMap id="RoleMap" type="com.example.pojo.Role" >
	    <id column="rid" property="rid" jdbcType="INTEGER" />
	    <id column="rolename" property="rolename" jdbcType="VARCHAR" />
	   	<collection property="users" javaType="java.util.ArrayList" ofType="com.example.pojo.Users">
			<id column="uid" property="uid" jdbcType="INTEGER" />
			<result column="account" property="account" jdbcType="VARCHAR" />
			<result column="password" property="password" jdbcType="VARCHAR" />
			<result column="vipcard" property="vipcard" jdbcType="VARCHAR" />
			<result column="username" property="username" jdbcType="VARCHAR" />
			<result column="sex" property="sex" jdbcType="VARCHAR" />
			<result column="phone" property="phone" jdbcType="VARCHAR" />
			<result column="integral" property="integral" jdbcType="INTEGER" />
			<result column="balance" property="balance" jdbcType="REAL" />
		</collection>
		<collection property="usersrole" javaType="java.util.ArrayList" ofType="com.example.pojo.UserRoleKey">
			<id column="uid" property="uid" jdbcType="INTEGER" />
			<result column="usersrole" property="usersrole" jdbcType="INTEGER" />
		</collection>
	</resultMap>
	<select id="RoleAll" resultMap="RoleMap">
		SELECT * FROM role LEFT JOIN userrole ON (role.`rid` = userrole.`rid`) LEFT JOIN users ON(userrole.`uid` = users.`uid`)
	</select>
</mapper>